<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Footer fragment - rest is empty</title>
</head>

<body>
    <!-- ver https://getbootstrap.com/docs/5.0/examples/sticky-footer-navbar/ -->
    <footer th:fragment="footer" class="mt-auto fixed-bottom py-3 bg-dark">
        <div class="container text-center footer-text">
            <span class="text-light">Privacidad - Contacto - Términos - Políticas</span>
            <span class="text-light">Síguenos en nuestras redes sociales <a href="https://twitter.com">Twitter</a> 🐦,
                <a href="https://facebook.com">Facebook</a> 📘, <a href="https://instagram.com">Instagram</a> 📷</span>
        </div>
        <!-- Bootstrap -->
        <script th:src="@{/js/bootstrap.bundle-5.1.3.js}" src="js/bootstrap.bundle-5.1.3.js"></script>

        <!-- Websockets -->
        <script th:src="@{/js/stomp.js}" src="js/stomp.js"></script>
        <script th:src="@{/js/iw.js}" src="js/iw.js"></script>

        <!-- Otros scripts de interacción, aquí -->
    </footer>
</body>

</html>