.tournament-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tournament-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.tournament-name {
    margin-left: 10px;
}

.tournament-info {
    display: flex;
    align-items: center;
}

.tournament-status {
    font-weight: bold;
    color: lightsalmon;
}

.tournament-slots {
    margin-left: 10px;
    margin-right: 10px;

    color: white;
}

.tournament-join {
    background-color: gray;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.tournament-join:hover {
    background-color: crimson;
}

.form {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 2% 2%;
    border-radius: 5px;
    background-color: rgb(33,37,41,0.90);
}

.form-group {
    margin: 20px;
    color: white;
}

