/* usa este fichero para personalizar tus vistas */

.iwthumb {
    height: 32px;
    width: 32px;
}

.errTable tr>td:first-child {
    min-width: 200px;
    max-width: 200px;
    word-break: break-all;
    font-weight: bold;
    color: gray;
}

.errTable td {
    vertical-align: top;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

img.preview {
    object-fit: cover;
    width: 10%;
    height: 100px;
    border-radius: 10px;
}

/* Nuestro css */

.body {
    background-image: url("/img/cs.jpg");
}

h1, h2 {
     color: white;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 40px;
     font-weight: bold;
}

.page-title {
    font-size: 80px;
    margin-top: 5rem;
}

.my-container {
    /* align-items: center;
    display: flex; */

    text-align: center;
}

.nav-menu {
    display: flex;
    flex-direction: row;

    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.nav-menu a :hover{  
    background-color: crimson;
    background-size: auto;
}

.nav-menu a {
    color: white;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
}

.link-buttons {
    flex-direction: column;
    display: flex;

    margin: auto;
    width: 40%;
}

.l-button {
    margin-top: 20px;
}
/* AUTORELLENADO DE CHROME SIN FONDO BLANCO Y CON LETRA BLANCA */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white !important;
}
/* AUTORELLENADO DE CHROME SIN FONDO BLANCO Y CON LETRA BLANCA */

/* LOGIN */
.login{
    text-align: center;
    margin-top: 5em;
    background-color:rgb(33,37,41,0.9);
    width: 50%;
    padding: 1em;
    border-radius: 10px;
}
    /* InputText - rellenar */
#username{
    background-color:rgba(78, 84, 90, 0.5);
    border-color: rgba(78, 84, 90, 0);
    color: white;
    
}
#password{
    background-color:rgba(78, 84, 90, 0.5);
    border-color: rgba(78, 84, 90, 0);
    color: white;
}
    /* InputText - rellenar */

/* LOGIN */

/*NAV BAR*/
.selected{
    background-color: beige;
}
.notSelected{
    color: white;
}

.nav-link {
    color: white;
    margin: auto;
}

.nav-link:hover {
    background-color: grey;
    color: white;
}
/*NAV BAR*/

/*ON GOING VIEW */
.titulosOngoing{
    color: white;
    font-size: large;
}
.table_OnGoing{
    margin-top: 0.5em;
    padding: 10px;
    background-color: rgb(33,37,41,0.90);
    border-radius: 10px;
    color: white;
}

.messages-button{
    border-color: red;
}

.messages-button:hover{
    background-color: gray;
    border-color: red;
}
/*ON GOING VIEW*/