.tournament-list {
    list-style: none;
    margin-top: 40px;
    padding: 0;
    background-color:rgb(33,37,41,0.9);
    border-radius: 5px;
}

.tournament-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.tournament-name {
    margin-right: 10px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.tournament-info {
    display: flex;
    align-items: center;
}

.tournament-joined {
  display: flex;
  align-items: center;
  color: lightgreen;
}


.tournament-status {
    font-weight: bold;
    color: lightsalmon;
}

.tournament-full {
  font-weight: bold;
  color: crimson;
}

.tournament-ongoing {
  margin-left: 10px;
  margin-right: 20px;

  color: white;
}

.tournament-slots {
    margin-left: 10px;
    margin-right: 10px;

    color: white;
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}