html,
body,
.brackets {
  width: 100%;
  min-height: 100%;
  font-family: "Arial", sans-serif;
  margin-top: 5em;
  color: white;
}

.metroBtn {
  margin-top: 10em;
  background-color: #2e7bcc;
  color: #fff;
  font-size: 1.1em;
  padding: 10px;
  display: inline-block;
  margin-bottom: 30px;
  cursor: pointer;
}

h2{
  display: flex;
  justify-content: center;
}

.back-button {
  text-decoration: none;
  background-color: gray;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.back-button:hover {
  background-color: darkkhaki;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: rgb(33,37,41,0.9);
}

td {
  padding: 8px;
  border: 1px solid black;
}

.result {
  text-align: center;
}

.winner {
  background-color: green;
  color: white;
  text-align: center;
}


.loser {
  background-color: crimson;
  color: white;
  text-align: center;
}
.margin{
  margin-top: 2em;
}

.chat {
  margin-bottom: 5em;
  background-color: rgb(33, 37, 41, 1);
  border-radius: 5px;
  padding: 10px;
}

.messages {
  height: 350px;
  overflow-y: auto;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(69, 76, 82, 0.9)
}
.formMessage {
  width: 100%;
}
.input-group {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.formMessage {
  flex: 1;
  display: flex;
}

.inputMessage {
  flex: 1;
  border-radius: 5px;
  margin-right: 10px;
}

#sendButton {
  border-radius: 5px;
  width: 100px;
}

#messageInput {
  flex: 1;
  border-radius: 5px;
}

#sendButton {
  border-radius: 5px;
  margin-left: 10px;
}
.my_message {
  color: lightskyblue;
}

.others_message {
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.5s ease;
}

.others_message:hover {
  color: rgb(218, 107, 107);
}

.date {
  margin-right: 10px;
  color: rgb(138, 138, 138);
}
