.nav-link {
    color: white;
    margin: auto;
}

.nav-link:hover {
    background-color: grey;
    color: white;
}


.nav-menu {
    display: flex;
    flex-direction: row;

    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.nav-menu a :hover{  
    background-color: crimson;
    background-size: auto;
}

.nav-menu a {
    color: white;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
}

.messages-button{
    border-color: red;
}

.messages-button:hover{
    background-color: gray;
    border-color: red;
}

/* Dropdown con mensajes del usuario*/
/* .dropdown {
    margin-right: 1em;
}

.dropdown-content {
    display: none;
    position: absolute;
}
  
.dropdown-btn {
    border: none;
    color: black;
    padding: 10px;
    cursor: pointer;
}

.dropdown-btn:hover {
    background-color: #ccc;
}

.dropdown-btn:after {
    content: '\25BC';
    margin-left: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content p {
    display: block;
    padding: 10px;
    background-color: #f9f9f9;
} */
