.nav-link {
    color: white;
    margin: auto;
}

.nav-link:hover {
    background-color: grey;
    color: white;
}


.nav-menu {
    display: flex;
    flex-direction: row;

    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.nav-menu a :hover{  
    background-color: crimson;
    background-size: auto;
}

.nav-menu a {
    color: white;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
}

.messages-button{
    border-color: red;
}

.messages-button:hover{
    background-color: gray;
    border-color: red;
}
