.titulosOngoing{
    color: white;
    font-size: large;
}

.table_OnGoing{
    margin-top: 0.5em;
    padding: 10px;
    background-color: rgb(33,37,41,0.90);
    border-radius: 10px;
    color: white;
}

.tournament-ongoing {
    margin-left: 10px;
    margin-right: 20px;
  
    color: white;
}

.tournament-info {
    display: flex;
    align-items: center;
}

.tournament-name {
    margin-right: 10px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.tournament-list {
    list-style: none;
    margin-top: 40px;
    padding: 0;
    background-color:rgb(33,37,41,0.9);
    border-radius: 5px;
}

.tournament-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.tournament-joined {
    display: flex;
    align-items: center;
    color: lightgreen;
  }