.tournament-list {
    list-style: none;
    margin-top: 40px;
    padding: 0;
    background-color:rgb(33,37,41,0.9);
    border-radius: 5px;
}

.tournament-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.tournament-info {
    display: flex;
    align-items: center;
}

.tournament-ongoing {
    margin-left: 10px;
    margin-right: 20px;
  
    color: white;
}

.tournament-joined {
    display: flex;
    align-items: center;
    color: lightgreen;
}

.tournament-name {
    margin-right: 10px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.body {
    margin-top: 50px;
}

.brackets-button {
    text-decoration: none;
    background-color: gray;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

.brackets-button:hover {
    background-color: darkkhaki;
    color: white;
}