.profile{
    text-align: center;
    margin-top: 5em;
    background-color:rgb(33,37,41,0.9);
    width: 50%;
    padding: 1em;
    border-radius: 10px;
    color: white;
}

.matches{
  text-align: center;
  margin-top: 2em;
  background-color:rgb(33,37,41,0.9);
  width: 50%;
  padding: 1em;
  border-radius: 10px;
  color: white;
}

.body {
  margin-top: 50px;
}

.data {
  justify-content: space-between;
  display: flex;
  align-items: center;
  font-size: 24px;
}

.atributes {
  display: grid;
  text-align: left;
}

.content {
  display: grid;
  justify-content:center;
  margin-left: 100px;
}

.userimage {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.linkToMatch{
  justify-content: space-between;
  display: flex;
  align-items: center;
  font-size: 24px;
  padding: 10px;
  border-radius: 10px;
  transition: 0.5 ease;
  color: white;
  text-decoration: none;  
}

.linkToMatch:hover{
  color: rgb(225, 245, 250); 
  background-color: rgba(44, 47, 49, 0.9);
}