<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Tournament Bracket Generator</title>

    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="../static/js/brackets.js" type="application/javascript"></script>
</head>

<body class="d-flex flex-column h-100 body">
    <!-- Reemplazo del header desde el archivo nav.html -->
    <header th:replace="fragments/nav.html :: nav"></header>


    <div id="add" class="metroBtn">Add Bracket</div>
    <div id="brackets" class="brackets"></div>

    <script th:inline="javascript">
        var teams = /*[[${teams}]]*/[];
    </script>

    <script th:inline="javascript">
        var numTeams = /*[[${numTeams}]]*/[];
    </script>

    <!-- Reemplazo del footer desde el archivo footer.html -->
    <th:block th:replace="fragments/footer.html :: footer" />
</body>
<script>

    $(document).on('ready', function () {

        var knownBrackets = [2, 4, 8, 16, 32], exampleTeams = [], bracketCount = 0;

        var exampleTeams = []

        teams.forEach(function (team) {
            var teamName = team.name;
            exampleTeams.push(teamName);
            console.log(teamName); // Imprime el nombre del equipo en la consola
        });

        getBracket(numTeams);

        function getBracket(base) {

            // Generar la primera ronda de emparejamientos
            var brackets = [],
                round = 1,
                baseT = base / 2,
                baseC = base / 2,
                teamMark = 0,
                nextInc = base / 2,
                byes = 0;

            for (i = 1; i <= (base - 1); i++) {
                var baseR = i / baseT,
                    isBye = false;

                if (byes > 0 && (i % 2 != 0 || byes >= (baseT - i))) {
                    isBye = true;
                    byes--;
                }

                brackets.push({
                    lastGames: null,
                    nextGame: nextInc + i > base - 1 ? null : nextInc + i,
                    teamnames: [exampleTeams[teamMark], exampleTeams[teamMark + 1]],
                    bracketNo: i,
                    roundNo: round,
                    bye: isBye
                });

                teamMark += 2;
                if (i % 2 != 0) nextInc--;
                while (baseR >= 1) {
                    round++;
                    baseC /= 2;
                    baseT = baseT + baseC;
                    baseR = i / baseT;
                }
            }

            // Mostrar los emparejamientos generados
            renderBrackets(brackets);

            // Esperar a que se registren los resultados antes de generar la siguiente ronda
            // y volver a mostrar los emparejamientos actualizados

            // Generar la siguiente ronda de emparejamientos
            // y volver a mostrar los emparejamientos actualizados
            // (y repetir hasta que se hayan generado todas las rondas)

        }

        /*
        * Inject our brackets
        */
        function renderBrackets(struct) {
            var groupCount = _.uniq(_.map(struct, function (s) { return s.roundNo; })).length;

            var group = $('<div class="group' + (groupCount + 1) + '" id="b' + bracketCount + '"></div>'),
                grouped = _.groupBy(struct, function (s) { return s.roundNo; });

            for (g = 1; g <= groupCount; g++) {
                var round = $('<div class="r' + g + '"></div>');
                _.each(grouped[g], function (gg) {
                    if (gg.bye)
                        round.append('<div></div>');
                    else
                        round.append('<div><div class="bracketbox"><span class="info">' + gg.bracketNo + '</span><span class="teama">' + gg.teamnames[0] + '</span><span class="teamb">' + gg.teamnames[1] + '</span></div></div>');
                });
                group.append(round);
            }
            group.append('<div class="r' + (groupCount + 1) + '"><div class="final"><div class="bracketbox"><span class="teamc">' + _.last(struct).teamnames[_.random(1)] + '</span></div></div></div>');
            $('#brackets').append(group);

            bracketCount++;
            $('html,body').animate({
                scrollTop: $("#b" + (bracketCount - 1)).offset().top
            });
        }

    });
</script>

</html>