<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:replace="fragments/head :: header" />

  <title>Tournament Manager</title>
</head>

<body class="d-flex flex-column h-100 body">
  <!-- Reemplazo del header desde el archivo nav.html -->
  <header th:replace="fragments/nav.html :: nav"></header>

  <main class="flex-shrink-0 main">
    <div class="container">
      <h1 class="text-center page-title">CREADOR DE TORNEOS</h1>
      <h2 class="mt-3 text-center">¡Selecciona modelo de torneo a crear!</h2>
      <h3 class="text-center" th:text="${exception}"></h3>

      <form method="post" th:action="@{tournament/createTournament}" class="create-form container">
        <h2>Crea tu torneo</h2>

        <p>
          <label for="maxTeams">Numero de equipos:</label>
          <input type="number" id="maxTeams" name="maxTeams" step="2" min="2" max="128" placeholder="Nº" required />
        </p>

        <!-- Nombre del torneo -->
        <p>
          <label for="name">Nombre del torneo:</label>
          <input type="text" class="form-control" name="name" placeholder="Nombre del torneo:" id="tournament-name"
            required />
        </p>

        <!-- Opciones de cantidad de jugadores -->
        <p>
          <label for="type">Tipo de torneo:</label>
          <select class="form-control dropdown" id="option" onchange="mostrarTexto()" name="type"
            placeholder="Tipo de torneo:" required>
            <option disabled selected value>
              -- Selecciona tipo de torneo --
            </option>
            <option value="1">Eliminación simple</option>
            <option value="2">Eliminación doble</option>
            <option value="3">Round Robin</option>
          </select>
          <span id="textoInfo"></span>
        </p>
        <!-- Calendario para seleccionar fecha -->
        <p>
          <label for="date">Fecha de inicio de torneo:</label>
          <input type="date" class="form-control" id="date" name="date" min="" placeholder="Fecha del torneo:"
            required />
        </p>

        <p>
          <label for="startingHour">Hora de inicio de torneo:</label>
          <input type="time" class="form-control" id="startingHour" name="startingHour" placeholder="Hora del torneo:"
            required />
        </p>

        <!-- HAY QUE PENSAR EN SI SE AÑADE FECHA DE FIN, COMO ESTABLECER HORARIOS DE PARTIDOS SI NO CABEN ANTES DE QUE LLEGUE LA FECHA DE FIN -->

        <!-- <p>
                    <label for="tournament-date" >Fecha de fin de torneo:</label>
                    <input type="date" class="form-control" id="tournament-date" name="tournament-date" placeholder="Fecha del torneo:">
                </p> -->
        <p>
          <label for="entryPrice">Precio de entrada:</label>
          <input type="number" class="form-control" id="entryPrice" name="entryPrice" placeholder="Precio de entrada:"
            min="0" required />
        </p>
        <p>
          <label for="game">Juego</label>
          <select class="form-control dropdown" id="game" name="game"
            placeholder="Juego de torneo:" required>
            <option disabled selected value>
              -- Selecciona el juego del torneo --
            </option>
            <option value="1">Valorant</option>
            <option value="2">CSGO</option>
            <option value="3">Clash Royale</option>
            <option value="4">League of Legends</option>
          </select>
        </p>
        <p>
          <label for="prizePool">Prizepool:</label>
          <input type="number" class="form-control" id="prizePool" name="prizePool" placeholder="Pricepool:" min="0"
            required />
        </p>
        <p>
          <label for="description">Descripción:</label>
          <textarea rows="4" cols="50" class="form-control" id="description" name="description"
            placeholder="Descripción:" required></textarea>
        </p>
        <button type="submit" class="createButton btn btn-primary submit">
          Crear torneo
        </button>
      </form>
    </div>
  </main>

  <!-- Reemplazo del footer desde el archivo footer.html -->
  <th:block th:replace="fragments/footer.html :: footer" />
  <script>
    function mostrarTexto() {
      var opciones = document.getElementById("option");
      var textoInfo = document.getElementById("textoInfo");

      if (option.value == "1") {
        textoInfo.innerHTML =
          "También llamado Liga, este formato consiste en un todos contra todos en el que gana el equipo con más victorias.";
      } else if (option.value == "2") {
        textoInfo.innerHTML =
          "Consta de varias fases, depende del número de equipos apuntados. Para pasar a la siguiente fase, cada equipo tiene que ganar a su rival, emparejados aleatoriamente. Si pierde, se elimina del torneo.";
      } else if (option.value == "3") {
        textoInfo.innerHTML =
          "Al igual que Eliminación Simple, consta de varias fases, depende del número de equipos apuntados. Para pasar a la siguiente fase, cada equipo tiene que ganar a su rival, emparejados aleatoriamente. Si pierde, pasa a un bracket inferior en el que tendrá que jugar contra equipos que también hayan perdido. Si se pierde en este bracket, se elimina del torneo.";
      } else {
        textoInfo.innerHTML = "";
      }
    }
  </script>
  <script>
    var today = new Date().toISOString().split("T")[0];
    document.getElementById("date").min = today;
  </script>
</body>

</html>