<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    
    <th:block th:replace="fragments/head :: header" />
   
    <title>Tournament Manager</title>
</head>

<body class="d-flex flex-column h-100 body">
    <!-- Reemplazo del header desde el archivo nav.html -->
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0 main">
        <div class="container">
            <h1 class="text-center page-title">CREADOR DE TORNEOS</h1>
            <h2 class="mt-3 text-center">¡Selecciona modelo de torneo a crear!</h2>
            
        <div class="create-form container ">
            <h2>Crea tu torneo</h2>

            <!-- Nombre del torneo -->
            <p> 
                <label for="tournament-name"  >Nombre del torneo:</label>
                <input type="text" class="form-control" placeholder="Nombre del torneo:" id="tournament-name" name="tournament-name">
            </p>
            
            <!-- Opciones de cantidad de jugadores -->
            <p>
                <label for="player-count">Tipo de torneo:</label>
                <select class="form-control dropdown" id="player-count" name="player-count" placeholder="Tipo de torneo:">
                    <option disabled selected value> -- Selecciona tipo de torneo -- </option>
                    <option value="1">Round Robin</option>
                    <option value="2">Eliminación simple</option>
                    <option value="3">Eliminación doble</option>
                </select>
            </p>
            
            <!-- Calendario para seleccionar fecha -->
            <p>
                <label for="tournament-date" >Fecha del torneo:</label>
                <input type="date" class="form-control" id="tournament-date" name="tournament-date" placeholder="Fecha del torneo:">
            </p>
            
            <!-- Botón para crear el torneo -->
            <button type="submit" class="btn btn-primary submit">Crear torneo</button>
        </div>
            
        </div>
    </main>
    
    <!-- Reemplazo del footer desde el archivo footer.html -->
    <th:block th:replace="fragments/footer.html :: footer" />

</body>

</html>