<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />

    <link rel="stylesheet" th:href="@{/css/index.css}" type="text/css" />

    <title>Tournament Manager</title>
</head>

<body class="d-flex flex-column h-100 body">
    <!-- Reemplazo del header desde el archivo nav.html -->
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0 main">
        <div class="container">
            <h1 class="text-center page-title">TOURNAMENT MANAGER</h1>
            <h2 class="mt-3 text-center">¡Crea tus torneos personalizados, inscríbete o consulta resultados de torneos anteriores!</h2>
            
            <div class="mt-5 index-buttons">
                <a class="btn btn-danger btn-lg index-button" th:href="@{/create}" href="/create">Crear torneo</a>
                <a class="btn btn-danger btn-lg index-button" th:href="@{/join}" href="/join">Unirse a torneos</a>
                <a class="btn btn-danger btn-lg index-button" th:href="@{/ongoing}" href="/ongoing">Torneos en marcha</a>
                <a class="btn btn-danger btn-lg index-button" th:href="@{/record}" href="/record">Historial de torneos</a>
            </div>
        </div>
    </main>
    
    <!-- Reemplazo del footer desde el archivo footer.html -->
    <th:block th:replace="fragments/footer.html :: footer" />  

</body>

</html>