<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="fragments/head :: header" />

    <link rel="stylesheet" th:href="@{/css/join.css}" type="text/css" /> 

    <title>Tournament Manager</title>
  </head>

  <body class="d-flex flex-column h-100 body">
    <!-- Reemplazo del header desde el archivo nav.html -->
    <header th:replace="fragments/nav.html :: nav"></header>


    <main class="flex-shrink-0 main">
      <!-- Informacion principal de JOIN -->
      <div class="container">
        <h1 class="text-center page-title">ÚNETE A UN TORNEO</h1>
        <h2 class="mt-3 text-center" th:unless="${Tournaments.isEmpty()}">¡Inscribe a tu equipo en el torneo que más te guste!</h2>
        <h3 class="text-center" th:if="${Tournaments.isEmpty()}">No hay torneos a los que unirse actualmente</h3>
      </div> 


      <div class="container">
        <!-- Se genera una lista para representar los torneos en los que los coach pueden inscribir a sus equipos -->
        <ul class="tournament-list">
          <!-- Se recorre la lista con la informacion de los torneos NOT STARTED -->
          <li th:each="tourney : ${Tournaments}">
            <div class="tournament-info">

              <!-- En caso de que el torneo no este lleno -->
              <div th:if="${!tourney.isFull()}" th:classappend="tournament-status">Esperando a nuevos equipos </div>
              <!-- En caso de que este lleno -->
              <div th:if="${tourney.isFull()}" th:classappend="tournament-full">Torneo completo</div>

              <div class="tournament-slots">
                <!-- Informacion sobre el numero de equipos inscritos -->
                <span th:text="${tourney.data.teamsIn}"></span>
                <span>/</span>
                <!-- Informacion sobre el numero maximo de equipos -->
                <span th:text="${tourney.data.capacity}"></span>
              </div>

              <!-- Se mostrar el contenido de este span en caso de que el numero de equipos inscrito sea menos que el maximo, 
              el usuario se coach de algun equipo y no tenga ninguno de sus equipos ya inscrito en el torneo -->
              <span th:if="${tourney.isJoinable() && IsCoach}">

                <form method="post" th:action="@{/tournament/joinTournament}">
                  <input type="hidden" name="tournamentId" th:value="${tourney.t.id}" />
                  <input type="hidden" name="userId" th:value="${session.u.id}" />
                  <button class="btn btn-primary submit" type="submit">Incribir a mi equipo</button>
                </form>          
              </span>
              
            </div>

            <!-- En caso de que el user o coach ya tenga a uno de sus equipos inscritos en el torneo -->
            <div class="tournament-joined" th:if="${tourney.data.userWithTeamIn}">Tu equipo ya está inscrito!</div>
            <!-- Informacion sobre el nombre del torneo-->
            <div class="tournament-name" th:text="${tourney.t.name}"></div>

          </li>
        </ul>
      </div>
    </main>

      <!-- Reemplazo del footer desde el archivo footer.html -->
      <th:block th:replace="fragments/footer.html :: footer" />
  </body>
</html>
