<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Tournament Manager</title>
</head>

<body class="d-flex flex-column h-100 body">
    <!-- Reemplazo del header desde el archivo nav.html -->
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0 main">
        <div class="container">
          <h1 class="text-center page-title">TORNEOS ACTUALES</h1>
          <h2 class="mt-3 text-center">¡Echa un vistazo a los torneos en juego!</h2>
        </div>
        <div class="container">
          <span class= "titulosOngoing" >STATUS</span>
        </div>
        <div class="table_OnGoing container">
          <div class="filaTorneo row">
            <div class="col">
              🟢 LIVE
            </div>
            <div class="col">
      
            </div>
            <div class="col">
              Ingeniería Web Tournament
            </div>
          </div>
        </div>  
        <div class="table_OnGoing container">
          <div class="filaTorneo row">
            <div class="col">
              🟢 LIVE
            </div>
            <div class="col">
      
            </div>
            <div class="col">
              UCM CHAMPIONS LEAGUE
            </div>
          </div>
        </div> 
        
        <div class="table_OnGoing container">
          <div class="filaTorneo row">
            <div class="col">
              🟢 LIVE
            </div>
            <div class="col">
      
            </div>
            <div class="col">
              Inter Universidades LoL
            </div>
          </div>
        </div> 

        <div class="table_OnGoing container">
          <div class="filaTorneo row">
            <div class="col">
              🟡 ON SELECTION
            </div>
            <div class="col">
      
            </div>
            <div class="col">
              Valorant Regional 
            </div>
          </div>
        </div> 
       
    </main>
    
    <!-- Reemplazo del footer desde el archivo footer.html -->
    <th:block th:replace="fragments/footer.html :: footer" />

</body>

</html>