<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Tournament Manager</title>
</head>

<body class="d-flex flex-column h-100 body">
    <!-- Reemplazo del header desde el archivo nav.html -->
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0 main">

        <!-- Informacion principal de FINISHED (historial de torneos) -->
        <div class="container">
          <h1 class="text-center page-title">TORNEOS ANTERIORES</h1>
          <h2 class="mt-3 text-center">¡Historial de torneos de nuestra web!</h2>
        </div>

        <div class="container">
          <!-- Se genera una lista para representar los torneos que terminados -->
          <ul class="tournament-list">
            <!-- Se recorre la lista con la informacion de los torneos FINISHED -->
            <li th:each="tourney : ${Tournaments}">

              <!-- Informacion general del torneo-->
              <div class="tournament-info">
                <span class="tournament-ongoing">🔴 TERMINADO</span>
              </div>

              <a class="brackets-button" th:href="@{|/tournament/${tourney.t.id}/${session.u.id}/bracket|}">Ver torneo</a>

              <!-- Informacion sobre el nombre del torneo-->
              <div class="tournament-name" th:text="${tourney.t.name}"></div>
            </li>
          </ul>
        </div>
 
    </main>
    
    <!-- Reemplazo del footer desde el archivo footer.html -->
    <th:block th:replace="fragments/footer.html :: footer" />

</body>

</html>