<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Tournament Bracket Generator</title>

    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>

</head>

<body class="d-flex flex-column h-100 body">
    <!-- Reemplazo del header desde el archivo nav.html -->
    <header th:replace="fragments/nav.html :: nav"></header>

    <div id="brackets" class="bracket">
        <h2 th:text="${tournament.name}">Tournament</h2>

        <table>
            <thead class="tituloRoundRobin">
                <tr>
                    <th>Posición</th>
                    <th>Equipo</th>
                    <th>Puntuación</th>
                    <th>Victorias</th>
                    <th>Empates</th>
                    <th>Derrotas</th>
                </tr>
            </thead>
            <tbody th:each="team, contador: ${teams}">
                <tr>
                    <td th:text="${contador.count}">Posicion</td>
                    <td th:text="${team.getTeam().name}">Equipo</td>
                    <td th:text="${team.puntuacion}">Puntuacion</td>
                    <td th:text="${team.victorias}">Victorias</td>
                    <td th:text="${team.empates}">Empates</td>
                    <td th:text="${team.derrotas}">Derrotas</td>
                </tr>
            </tbody>
        </table>
   

    <div th:each="partido : ${partidosPorRonda.entrySet()}" class="round">
        <h3 th:text="'Jornada '+ ${partido.key}">Ronda</h3>
  
        <div th:each="match : ${partido.value}" class="match">
  
          <div th:if="${match.team1}" th:text="${match.team1.name}"
            th:classappend="${match.winner != null && match.winner == match.team1}  ? 'winner' : ''" class="team"></div>
          <div th:if="${match.team1 == null}" class="team">-</div>
  
          <span>vs</span>
  
          <div th:if="${match.team2}" th:text="${match.team2.name}"
            th:classappend="${match.winner != null && match.winner == match.team2}  ? 'winner' : ''" class="team"></div>
          <div th:if="${match.team2 == null}" class="team">-</div>
  
        </div>
  
      </div>

    </div>
    <div class="d-flex justify-content-center align-items-center h-100">
        <div th:if="${userMatch != null}" id="chat" class="chat col-md-6">
            <!--RECEPCIÓN DE MENSAJES-->
            <div id="mensajes" class="messages"></div>
            <!--ENVÍO DE MENSAJES-->
            <div class="input-group">
                <form th:action="@{|/user/sendMsg/${session.u.id}/${userMatch.id}|}" method="POST">
                    <input type="text" id="messageInput" class="form-control" placeholder="Escribe tu mensaje..." />
                    <button id="sendButton" class="btn btn-primary" type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </div>
    
    <th:block th:replace="fragments/footer.html :: footer" />
    <script th:src="@{/js/ajax-message-match.js}"></script>
</body>

</html>