<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:replace="fragments/head :: header" />
  <title>Tournament Bracket Generator</title>

  <link rel="stylesheet" th:href="@{/css/brackets.css}" type="text/css"/> 

  <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
  <script src="http://underscorejs.org/underscore-min.js"></script>

</head>

<body class="d-flex flex-column h-100 body">
  <!-- Reemplazo del header desde el archivo nav.html -->
  <header th:replace="fragments/nav.html :: nav"></header>

  <!-- Imagen de fondo -->
  <div class="background"></div>

  <div id="brackets" class="bracket">
    <h2 th:text="${tournament.name}">Tournament</h2>

    <table>
      <thead class="tituloRoundRobin">
        <tr>
          <th>Posición</th>
          <th>Equipo</th>
          <th>Puntuación</th>
          <th>Victorias</th>
          <th>Derrotas</th>
        </tr>
      </thead>
      <tbody th:each="team, contador: ${teams}">
        <tr>
          <td th:text="${contador.count}">Posicion</td>
          <td th:text="${team.getTeam().name}">Equipo</td>
          <td th:text="${team.puntuacion}">Puntuacion</td>
          <td th:text="${team.victorias}">Victorias</td>
          <td th:text="${team.derrotas}">Derrotas</td>
        </tr>
      </tbody>
    </table>


    <div th:each="partido : ${partidosPorRonda.entrySet()}" class="round">
      <h3 th:text="'Jornada '+ ${partido.key}">Ronda</h3>

      <div th:each="match : ${partido.value}" class="match">

        <div th:if="${match.team1}" th:text="${match.team1.name}"
          th:classappend="${match.winner != null && match.winner == match.team1}  ? 'winner' : ''" class="team"></div>
        <div th:if="${match.team1 == null}" class="team">-</div>

        <span th:if="${match.winner != null}" th:text="${match.resultTeam1}"></span>
        <span th:if="${match.winner == null}">vs</span>

        <div th:if="${match.team2}" th:text="${match.team2.name}"
          th:classappend="${match.winner != null && match.winner == match.team2}  ? 'winner' : ''" class="team"></div>
        <div th:if="${match.team2 == null}" class="team">-</div>

        <a class="match-button" th:href="@{|/tournament/${tournament.id}/match/${match.id}}">Ver partido</a>
        
      </div>

    </div>

  </div>

  <div class="d-flex justify-content-center align-items-center h-100">
    <div id="chat" class="chat col-md-6">
      <div class="d-flex justify-content-between align-items-center">
        <h5 th:text="${tournament.name}">Partido y equipos</h5>

      </div>
      
      <!--RECEPCIÓN DE MENSAJES-->
      <div id="mensajes" class="messages"></div>

      <button th:id="${tournament.id}" class="tournamentButton" hidden="true"></button>

      <!--ENVÍO DE MENSAJES-->
      <div class="input-group">
        <form th:if="${userInTournament}" th:action="@{|/user/sendMsg/${tournament.id}|}" class="formMessage" method="POST">
          <input type="text" id="messageInput" class="inputMessage" placeholder="Escribe tu mensaje..." />
          <button id="sendButton" class="buttonMensaje" type="submit">Enviar</button>
        </form>
      </div>
    </div>
  </div>


  <th:block th:replace="fragments/footer.html :: footer" />
  <script th:src="@{/js/ajax-message-tournament.js}"></script>
</body>


<!-- <script>
  $(document).ready(function () {
    // Obtener el formulario y el botón de envío
    const resultsForm = document.querySelector('.resultsForm');

    // Agregar un listener al evento submit del formulario
    resultsForm.addEventListener('submit', (event) => {
      event.preventDefault(); // Prevenir el envío del formulario por defecto

      // Envíar el formulario por AJAX
      $.ajax({
        type: 'POST',
        url: resultsForm.action,
        data: $(resultsForm).serialize(),
        success: function (response) {
          // Manejar la respuesta del servidor
          // Por ejemplo, mostrar un mensaje de éxito en la página
          console.log(response); // Puedes imprimir la respuesta en la consola para verla

          // Aquí puedes actualizar la página o realizar alguna acción adicional
          // Mostrar el toast
          const liveToast = document.querySelector('#liveToast');
          const toast = new bootstrap.Toast(liveToast);
          toast.show();
          resultsForm.reset(); // Limpiar los valores de los inputs
        },
        error: function (xhr, status, error) {
          // Manejar el error en caso de que ocurra
          console.log(xhr.responseText); // Puedes imprimir el mensaje de error en la consola para verlo

          // Aquí puedes mostrar un mensaje de error en la página o realizar alguna acción adicional
          console.error(error);
        }
      });
    });
  });
</script> -->

</html>