<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />

    <link rel="stylesheet" th:href="@{/css/user.css}" type="text/css" />

    <title>Mi perfil</title>
</head>

<body class="d-flex flex-column h-100 body">
    <header th:replace="fragments/nav.html :: nav"></header>

    <!-- Imagen de fondo -->
    <div class="background"></div>

    <main class="flex-shrink-0">

        <!-- Contenedor de toda la informacion del perfil -->
        <div class="profile container">

            <h2>Mi perfil</h2>

            <div class="data">
                <div class="atributes">
                    <span class="mt-1">Usuario</span>
                    <span class="mt-4">Nombre</span>
                    <span class="mt-4">Apellido</span>
                    <span class="mt-4">Monedas</span>
                </div>
                <div class="content">
                    <span class="mt-1" th:text="${user.username}"></span>
                    <span class="mt-4" th:text="${user.firstName}"></span>
                    <span class="mt-4" th:text="${user.lastName}"></span>
                    <span class="mt-4" th:text="${user.coins}"></span>
                </div>

                <img class="rounded userimage" th:src="@{/user/{id}/pic(id=${session.u.id})}">

            </div>

        </div>

        <!-- Contenedor de toda la informacion de los proximos partidos -->
        <div class="matches container">

            <h2>Próximos partidos</h2>

            <!-- TODO -->
            <span th:if="${allMatches}!=null">
                <span th:each="match : ${allMatches}">
                    <a th:if="${match.winner} == null" th:href="@{|/tournament/${match.tournament.id}/match/${match.id}}" class="linkToMatch">
                        <span class="mt-1" th:text="${match.tournament.name}"></span>
                        <span class="mt-4" th:text="${match.team1.name}">Equipo 1</span>
                        <span class="mt-4">vs</span>
                        <span class="mt-4" th:text="${match.team2.name}">Equipo 2</span>
                    </a>
                </span>
            </span>

        </div>

        <!-- Contenedor de toda la informacion de los proximos partidos -->
        <div class="matches container">

            <h2>Historial de partidos</h2>

            <span th:if="${allMatches}!=null">
                <span th:each="match : ${allMatches}" >
                    <a th:if="${match.winner} != null" th:href="@{|/tournament/${match.tournament.id}/match/${match.id}}" class="linkToMatch">
                        <span class="mt-1" th:text="${match.tournament.name}"></span>
                        <span class="mt-4" th:text="${match.team1.name}">Equipo 1</span>
                        <span class="mt-4">vs</span>
                        <span class="mt-4" th:text="${match.team2.name}">Equipo 2</span>
                    </a>
                </span>
            </span>

        </div>

    </main>

    <th:block th:replace="fragments/footer.html :: footer" />

</body>

</html>