<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Perfil</title>
</head>

<body class="d-flex flex-column h-100 body">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class ="userProfile container">
            <h1 class="mt-5">Profile of <span th:text="${user.username}"></span></h1>
            <div>
                <span style="color: white">Current Coaching Team:</span> 
                <span style="color: grey" th:text="${coachingTeam} != null ? ${coachingTeam.name} : 'You are not coaching any team'"></span>
            </div>
            <span style="color: grey" th:text="${excepcion}"></span>
            <p></p>
            <button th:if="${user.team} == null" class="btn btn-primary submit" id="myBtn">Create new team</button>

            <div id="myModal" class="modal">
                
                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <form method="post" th:action="@{/user/__${user.id}__/createTeam}">
                        <h2>Team Creation</h2>
                        <p th:if="${#request.getQueryString() == 'error'}" class="error">Error creating team</p>
                        <p>
                            <label for="name" class="visually-hidden">name</label>
                            <input type="text" id="name" name="name" class="inputTextStyle form-control" placeholder="Name of the team" required="required">
                        </p>

                        <button type="submit" class="registerButton btn btn-primary submit" style="margin: 0;">Create team</button>
                        
                    </form>
                </div>
              
            </div>
            
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />

    <script>
        var modal = document.getElementById("myModal");
        
        var btn = document.getElementById("myBtn");
        
        var span = document.getElementsByClassName("close")[0];
        
        btn.onclick = function() {
        modal.style.display = "block";
        }
        
        span.onclick = function() {
        modal.style.display = "none";
        }
        
        window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
        }
    </script>
    <script th:src="@{/js/ajax-demo.js}"></script>
    
</body>

</html>